* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    transition: 0.5s all;
}

.btn {
    background-color: white;
    border: none;
    padding: 10px 30px;
    margin: 0 10px;
    border-radius: 7px;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
}

.btn:hover {
    border-radius: 15px;
    transform: scale(0.95);
    box-shadow: 0px 2px 5px 0px gray;
    border: none;
    cursor: pointer;
}

#topButtonsPanel {
    display: flex;
    height: 100px;
    width: 95%;
    margin: 30px auto;
    padding: 0 100px;
    align-items: center;
    justify-content: space-between;
    border-radius: 60px;
    box-shadow: 0px 3px 5px 0px gray;
}

#topButtonsPanel h1 {
    text-transform: uppercase;
    
}

#selec {
    background-color: white;
    border: none;
    padding: 10px 30px;
    margin: 0 10px;
    border-radius: 7px;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
}

#disclaimer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 40%;
    margin: 80px auto;
}

#disclaimer p {
    text-wrap: wrap;
}

#findSection {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 900px;
}

#findSection input{
    width: 800px;
    height: 50px;
    border-radius: 5px;
    border: none;
    outline: none;
}

#findSection input:focus{
    border-radius: 15px;
    box-shadow: 0px 3px 5px 0px gray;
}

footer div {
    background-color: black;
    margin-top: 182px;
    width: 100%;
    height: 200px;
}